.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3e3e3e;
}

main {
  min-height: 86vh;

  margin-bottom: -100px;
}

main::after {
  content: '';
  display: block;
}

.header {
  /* display: flex;
  flex-direction: column; */
  position: relative;
  height: 0px;
  z-index: 1;
  /* border: 1px solid yellow; */
  /* box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.6); */
  transition: 400ms;
}

.menu-toggle-on {
  height: 185px;
}

.header1 {
  position: relative;
  z-index: 4;
    display: flex;
    box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.6);
    height: 125px;
    justify-content: center;
    width: 100%;
    background: url('https://cdn.pixabay.com/photo/2016/12/18/09/05/trees-1915244_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;

}

.linksDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
  height: 175px;
  margin-left: 25px;
  z-index: 0;
  background-color: #303030;
  border: 2px solid white;
  border-radius: 10px;
  border-top: none;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  
}

.headerLinksContainer {
  margin-left: 1rem;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.headerLinks {
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem; 
}

.headerLinks:hover {
  font-size: 1.5rem;
}

.menu-block {
  display: flex;
  justify-content: center;
  width: 15%;
}
.header-menu {
  position: relative;
  color: #303030;
  font-size: 3.5rem;
  align-self: center;
  transition: 300ms;
  z-index: 4;
}

.header-menu:hover {
  transform: rotate(90deg);
  color: #ffffff;
}

.space-block {
  width: 15%;
}

.title-block {
  display: flex;
  justify-content: center;
  width: 70%;
}

.tag {
  display: flex;
  background-color: #303030;
  border-radius: 5px;
  width: 15rem;
  max-height: 12rem;
  align-self: center;

}

.footer {
  display: flex;
    justify-content: center;
    box-shadow: 0px -5px 3px 0px rgba(0,0,0,0.6);
    min-height: 75px;
    max-height: 75px;
    width: 100%;
    background: url('https://cdn.pixabay.com/photo/2016/12/18/09/05/trees-1915244_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6.3rem;
    position: relative;
    z-index: 4;

}


.copyrightContainer {
  align-self: center;
  background-color: #3e3e3eaa;
  max-height: 3rem;
  /* margin-top: 3.5rem; */
  border-radius: 7px;
  width: 15rem;
}

.copyright {
  color: white;
}



h3 {
  color: #3e3e3e;
}


.title {
  background: url('https://cdn.pixabay.com/photo/2018/02/27/15/40/background-3185765_1280.jpg');
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        color: white;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text;
        background-size: cover;
        font-size: 2.8rem;
        text-transform: uppercase;
        margin: 0;
        align-self: center;
       

}
.instrumentPanel {
  background-color: #3e3e3e;
  position: relative;
  min-height: calc(100vh - 16.5rem);
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  z-index: 2;

}

.selectorSection {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem;
  z-index: 1;
}



.paletteSwitcher {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding-top: 3rem;
}


button {
  font-family: 'Press Start 2P', cursive;
  margin: .3rem;
}

.colorSelector {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
  background-color: #303030;
  height: 11rem;
  width: 29rem;
}

.chromaticPalette {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 7rem;
  width: 21rem;
}

.chromaticNotes {
  transition: all .3s ease-in-out;
  height: 2.7rem;
  width: 2.7rem;
  margin: 5px;
  border: 1px solid white;
  border-radius: 2px;
}

.chromaticNotes:hover {
    transform: rotate(90deg);
}

.selectedColor {
  border: 3px solid white;
  border-radius: 2px;
  height: 2.7rem;
  width: 2.7rem;
  margin: 1rem;
  transition: 500ms;
}

.spectrumBox {
  height: 100px;
  width: 25rem;
  border: 4px inset rgb(188, 183, 183);
  margin: 0;
  border-radius: 7px;
}

.slider1 {
  width: 25rem;
}

.selectorSectionTitle {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  
 
}

.voiceSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.voiceSetter {
  border: 2px solid white;
  background-color: #303030;
  border-radius: 7px;
  width: 35rem;
  display: flex;
  justify-content: center;
  margin: 15px;
  
}

.voiceCollect {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.voicePad {
  height: 5rem;
  width: 5rem;
  margin: 1rem 1.5rem .3rem 1.5rem;
  border: 3px outset rgb(208, 200, 184);
  border-radius: 3px;
  transition: 600ms;
}

.clearbtn {
  border: none;
  width: 3rem;
  align-self: center;
  color: rgb(234, 74, 74);
  background-color: rgb(210, 208, 208);
  font-weight: bold;
  transition: 200ms;
}

.clearbtn:hover {
  background-color: rgba(223, 102, 102, 0.77);
}

.clearbtn:focus {
  background-color: rgb(210, 208, 208);
}


.voiceLabel {
  color: white;
}

.voiceSectionLabel {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
}

.thirdSection {
  display: flex;
  justify-content: center;
}

.fxSection {
  border: 2px solid white;
  border-radius: 7px;
  height: 12rem;
  width: 15rem;
  margin: 1rem;
  background-color: #303030;
}

.fxLabel {
  color: white;
}

.transportSection {
  height: 10rem;
  width: 12rem;
  border: 2px solid white;
  background-color: #303030;
  border-radius: 7px;
  margin: 1rem;
  padding: 1rem;
}

.playbtn {
  font-size: 6rem;
}

.transportLabel {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
}
/* ==================================Rec Form==================================== */
.rec-form-block {
  border: 1px solid #3e3e3e;
  position: relative;
  z-index: 3;
  background-color: #3e3e3e;
}
.recForm {
  color: white;
  text-align: center;
  font-size: 1.7rem;
}
/* ===============================Gallery Setion================================ */
.gallery-block {
  position: relative;
  background-color: #3e3e3e;
  z-index: 3;
  border: 1px solid #3e3e3e;
  font-family: 'Press Start 2P', cursive;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryItem {
  border: 1px solid white;
  border-radius: 7px;
  width: 8.5rem;
  margin: .5rem;
  transition: 150ms;
}

.galleryItem:hover {
  background-color: #303030;
}

.galleryTitle {
  font-size: 1rem;
  color: white;
}

.galleryAuthor {
  font-size: 1rem;
  color: white;
}

/* ================================About Section================================== */
.aboutBody {
  position: relative;
  z-index: 3;
  background-color: #3e3e3e;
  margin-bottom: 10rem;
  border: 1px solid #3e3e3e;
} 

.aboutTitle {
   color: white;
   font-size: 2.5rem;
   font-family: 'Press Start 2P', cursive;
 }

 .aboutSubHeading {
  color: white;
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
 }

 .aboutParagraph {
   color: white;
  font-size: 1.5rem;
 }


/* ============================media queries======================================= */

@media only screen and (max-width: 600px) {

  .footer {
    display: flex;
    flex-direction: column;
      justify-content: space-evenly;
      box-shadow: 0px -5px 3px 0px rgba(0,0,0,0.6);
      height: 100px;
      width: 100%;
      background: url('https://cdn.pixabay.com/photo/2016/12/18/09/05/trees-1915244_960_720.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 2.3rem;
  
  }
  

  
  .selectorSection {
    margin: 1rem;
    margin-bottom: .1rem;
  }

  .chromaticPalette {
    /* border: 1px solid lime; */
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 13.8rem;
    width: 20rem;
    margin-left: .2rem;
  }

  .chromaticNotes {
    transition: all .3s ease-in-out;
    height: 2.5rem;
    width: 2.5rem;
    margin: 5px;
  }
  
  .colorSelector {
    height: 15rem;
    width: 15rem;
  }
  
  .selectorSectionTitle {
    display: none;
   
  }

  .selectorbtn {
    text-overflow: clip;
  }

  .spectrumBox {
    margin-top: 10px;
    height: 12rem;
    width: 13rem;

  }

  .slider1 {
    width: 10rem;
  }

  .voiceSetter {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 5px
    
  }
  

  .voicePad {
    height: 3.8rem;
    width: 3.8rem;
    margin: 1rem;
  }

  .clearbtn {
    width: 2rem;
  
  }

  .voiceSectionLabel {
   display: none;
  }

  .thirdSection {
    margin-bottom: 5rem;
  }

  .transportLabel {
 display: none;
  }

  .fxSection {
    height: 11rem;
    width: 10rem;
    margin: .5rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
      height: 100px;
      width: 100%;
      margin-top: 2.3rem;
  
  }

  


  .copyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3e3e3eaa;
    max-height: 2rem;
    margin-top: 3.5rem;
    border-radius: 7px;
    width: 15rem;
    margin: 0 auto;
  }
  
  .copyright {
    color: white;
  }








}