.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3e3e3e;
}

main {
  min-height: 86vh;

  margin-bottom: -100px;
}

main::after {
  content: '';
  display: block;
}

.header1 {
    display: flex;
    box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.6);
    /* height: 125px; */
    justify-content: center;
    width: 100%;
    background: url('https://cdn.pixabay.com/photo/2016/12/18/09/05/trees-1915244_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.linksDiv {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 15rem;
  
}

.headerLinksContainer {
  margin-left: 1rem;
}

.headerLinks {
  color: #000000;
}

.tag {
  display: flex;
  background-color: #3e3e3e;
  border-radius: 5px;
  width: 15rem;
  max-height: 12rem;
  margin: 5px;
  align-self: center;

}

.footer {
  display: flex;
    justify-content: space-evenly;
    box-shadow: 0px -5px 3px 0px rgba(0,0,0,0.6);
    height: 100px;
    width: 100%;
    background: url('https://cdn.pixabay.com/photo/2016/12/18/09/05/trees-1915244_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.3rem;

}

.footerLinksDiv {
display: none;
  
}

.copyrightContainer {
  background-color: #3e3e3eaa;
  max-height: 3rem;
  margin-top: 3.5rem;
  border-radius: 7px;
  width: 15rem;
}

.copyright {
  color: white;
}



h3 {
  color: #3e3e3e;
}


.title {
  background: url('https://cdn.pixabay.com/photo/2018/02/27/15/40/background-3185765_1280.jpg');
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        color: white;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text;
        background-size: cover;
        font-size: 2.8rem;
        text-transform: uppercase;
        margin: 0;
        align-self: center;
       

}
.instrumentPanel {
  min-height: calc(100vh - 16.5rem);
  display: flex;
  flex-direction: column;

}

.selectorSection {
  display: flex;
  justify-content: center;
  margin: 2rem;
}



.paletteSwitcher {
  display: flex;
  flex-direction: column;
  /* border: 1px solid violet; */
  margin: 5px;
  padding-top: 3rem;
}


button {
  margin: .3rem;
}

.colorSelector {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
  height: 11rem;
  width: 29rem;
}

.chromaticPalette {
  /* border: 1px solid lime; */
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 7rem;
  width: 21rem;
}

.chromaticNotes {
  transition: all .3s ease-in-out;
  height: 2.7rem;
  width: 2.7rem;
  margin: 5px;
}

.chromaticNotes:hover {
    transform: rotate(90deg);
}

.selectedColor {
  border: 3px solid black;
  height: 2.7rem;
  width: 2.7rem;
  margin: 1rem;
  transition: 500ms;
}

.spectrumBox {
  height: 100px;
  width: 25rem;
  border: 4px inset rgb(188, 183, 183);
  margin: 0;
  border-radius: 7px;
}

.slider1 {
  width: 25rem;
}

.selectorSectionTitle {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center;
  
 
}





.voiceSection {
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.voiceSetter {
  border: 2px solid white;
  border-radius: 7px;
  width: 35rem;
  display: flex;
  justify-content: center;
  margin: 15px;
  
}

.voiceCollect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid violet; */
}

.voicePad {
  height: 5rem;
  width: 5rem;
  margin: 1rem 1.5rem .3rem 1.5rem;
  border: 3px outset rgb(208, 200, 184);
  transition: 600ms;
}

.clearbtn {
  border: none;
  width: 3rem;
  align-self: center;
  color: rgb(223, 102, 102);
  background-color: rgb(210, 208, 208);
  font-weight: bold;
  transition: 400ms;
}

.clearbtn:hover {
  background-color: rgb(223, 102, 102);
}

.clearbtn:focus {
  background-color: rgb(210, 208, 208);
}


.voiceLabel {
  color: white;
}

.voiceSectionLabel {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center;
}

.thirdSection {
  /* border: 1px solid violet; */
  display: flex;
  justify-content: center;
}

.fxSection {
  border: 2px solid white;
  border-radius: 7px;
  height: 15rem;
  width: 15rem;
  margin: 1rem;
}

.fxLabel {
  color: white;
}

.transportSection {
  height: 10rem;
  width: 10rem;
  border: 2px solid white;
  border-radius: 7px;
  margin: 1rem;
  padding: 1rem;
}

.playbtn {
  font-size: 6rem;
}

.transportLabel {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center;
}
/* ==================================Rec Form==================================== */
.recForm {
  color: white;
  text-align: center;
  font-size: 1.7rem;
}
/* ===============================Gallery Setion================================ */
.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryItem {
  border: 1px solid white;
  border-radius: 7px;
  width: 6rem;
  margin: .5rem;
}

.galleryTitle {
  font-size: 1.5rem;
  color: white;
}

.galleryAuthor {
  font-size: 1.3rem;
  color: white;
}

/* ================================About Section================================== */
.aboutBody {
  margin-bottom: 10rem;
} 

.aboutTitle {
   color: white;
   font-size: 3rem;
 }

 .aboutSubHeading {
  color: white;
  font-size: 2rem;
 }

 .aboutParagraph {
   color: white;
 }


/* ============================media queries======================================= */

@media only screen and (max-width: 600px) {

  
.linksDiv {
display: none;
  
}

  
  .selectorSection {
    margin: 1rem;
    margin-bottom: .1rem;
  }

  .chromaticPalette {
    /* border: 1px solid lime; */
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 13.8rem;
    width: 20rem;
    margin-left: .2rem;
  }

  .chromaticNotes {
    transition: all .3s ease-in-out;
    height: 2.5rem;
    width: 2.5rem;
    margin: 5px;
  }
  
  .colorSelector {
    height: 15rem;
    width: 15rem;
  }
  
  .selectorSectionTitle {
    display: none;
   
  }

  .selectorbtn {
    text-overflow: clip;
  }

  .spectrumBox {
    margin-top: 10px;
    height: 12rem;
    width: 13rem;

  }

  .slider1 {
    width: 10rem;
  }

  .voiceSetter {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 5px
    
  }
  

  .voicePad {
    height: 3.8rem;
    width: 3.8rem;
    margin: 1rem;
  }

  .clearbtn {
    width: 2rem;
  
  }

  .voiceSectionLabel {
   display: none;
  }

  .thirdSection {
    margin-bottom: 5rem;
  }

  .transportLabel {
 display: none;
  }

  .fxSection {
    height: 11rem;
    width: 10rem;
    margin: .5rem;
  }

  .footerLinksDiv {
    /* border: 1px solid lime; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
  }
  
  .footerLinksContainer {
    /* border: 1px solid red; */
  }
  
  .footerLinks {
    color: #000000;
  }








}